#contenedor-cripto {
  border: 1px solid white;
  position: absolute;
  top: 50%;
  left: 30%;
  .resultado {
    color: white;
  }
  label {
      color: white;
      font-size: 2rem;
      font-weight: bold;
  }
}
